.card-img {
    overflow: hidden;
    max-height: 600px;
}
.card-img img{
    height: 400px;
    transition: transform 0.9s;
}
.card-img img:hover {
    transform: scale(1.1);
    cursor: pointer;

}
@media (max-width: 576px) {
    .cards {
      margin-left: 35px;
    }
  }