.user-main {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.left-side {
    margin-left: 50px;
    margin-top: 50px;
    width: 450px;
    padding: 10px;
    border-radius: 5px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 6px grey;
}
form {
    width: 400px;
}
form button {
    padding: 20px;
}
.inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
}
