<div class="upperbar">
    <div style=" margin-top: 10px; display: flex; align-items: center;justify-content: center; flex-direction: column;">
        <p>Every Purchase Supports Independent Bookstores.</p>
        <p> A Better Way to Buy Books Online</p>
    </div>
</div>
<app-nav-bar></app-nav-bar>
<div class="fluid-container">
    <div id="carouselExample" class="carousel slide">

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://dispatch.barnesandnoble.com/content/dam/ccr/homepage/daily/2023/10/30/27926_Quote_A1_DiscoverWinner_10-30.jpg"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://dispatch.barnesandnoble.com/content/dam/ccr/homepage/daily/2023/10/31/27927_Quote_A3_Absolution_10-31.jpg"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://dispatch.barnesandnoble.com/content/dam/ccr/homepage/daily/2023/09/27/27677_Quote_A1_DiscoverShortlistAnnouncement_09-27.jpg"
                    class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="fluid-container p-5 row" style="display: flex; align-items: center;justify-content: center;">
    <h4 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Give the Gift of Good Fiction
    </h4>
    <div class="container row" style="display: flex; justify-content: center;">

        <div class="card me-5 mt-5 cards" style="width: 17rem;">
            <a href="">
                <img class="card-img-top w-100"
                    src="https://prodimage.images-bn.com/lf?set=key%5Bresolve.pixelRatio%5D,value%5B1%5D&set=key%5Bresolve.width%5D,value%5B300%5D&set=key%5Bresolve.height%5D,value%5B10000%5D&set=key%5Bresolve.imageFit%5D,value%5Bcontainerwidth%5D&set=key%5Bresolve.allowImageUpscaling%5D,value%5B0%5D&set=key%5Bresolve.format%5D,value%5Bwebp%5D&product=path%5B/pimages/9781982104498_p0_v4%5D&call=url%5Bfile:common/decodeProduct.chain%5D"
                    alt="Card image cap">
            </a>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example.</p>
            </div>
        </div>
        <div class="card me-5 mt-5 cards" style="width: 17rem;">
            <img class="card-img-top w-100"
                src="https://prodimage.images-bn.com/lf?set=key%5Bresolve.pixelRatio%5D,value%5B1%5D&set=key%5Bresolve.width%5D,value%5B300%5D&set=key%5Bresolve.height%5D,value%5B10000%5D&set=key%5Bresolve.imageFit%5D,value%5Bcontainerwidth%5D&set=key%5Bresolve.allowImageUpscaling%5D,value%5B0%5D&set=key%5Bresolve.format%5D,value%5Bwebp%5D&product=path%5B/pimages/9780525558965_p0_v3%5D&call=url%5Bfile:common/decodeProduct.chain%5D"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example.</p>
            </div>
        </div>
        <div class="card me-5 mt-5 cards" style="width: 17rem;">
            <img class="card-img-top w-100"
                src="https://prodimage.images-bn.com/lf?set=key%5Bresolve.pixelRatio%5D,value%5B1%5D&set=key%5Bresolve.width%5D,value%5B300%5D&set=key%5Bresolve.height%5D,value%5B10000%5D&set=key%5Bresolve.imageFit%5D,value%5Bcontainerwidth%5D&set=key%5Bresolve.allowImageUpscaling%5D,value%5B0%5D&set=key%5Bresolve.format%5D,value%5Bwebp%5D&product=path%5B/pimages/9780593538241_p0_v2%5D&call=url%5Bfile:common/decodeProduct.chain%5D"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Land of Milk and Honey</h5>
                <p class="card-text">—C Pam Zhang</p>
            </div>
        </div>
        <div class="card me-5 mt-5 cards" style="width: 17rem;">
            <img class="card-img-top w-100"
                src="https://prodimage.images-bn.com/lf?set=key%5Bresolve.pixelRatio%5D,value%5B1%5D&set=key%5Bresolve.width%5D,value%5B300%5D&set=key%5Bresolve.height%5D,value%5B10000%5D&set=key%5Bresolve.imageFit%5D,value%5Bcontainerwidth%5D&set=key%5Bresolve.allowImageUpscaling%5D,value%5B0%5D&set=key%5Bresolve.format%5D,value%5Bwebp%5D&product=path%5B/pimages/9780593536117_p0_v3%5D&call=url%5Bfile:common/decodeProduct.chain%5D"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Wellness</h5>
                <p class="card-text">—Brit Bennett</p>
            </div>
        </div>
    </div>
</div>
<!-- footer -->
<app-footer></app-footer>