.user-main {
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 20px;
    box-shadow: 2px 2px 40px black;
}

table th {
    text-align: center;
}

table,
th,
td {
    border: 2px solid rgb(80, 80, 80);
    min-width: 120px;
    text-align: start;
}

img {
    width: 100%;
    padding: 10px;
}