<div class="main" style="display: flex;">
    <app-admin-navbar></app-admin-navbar>
    <div class="user-main">
        <h4>Users</h4>
        <table>
            <tr>
                <th>User name</th>
                <th>Email</th>
                <!-- <th>Image</th> -->
            </tr>
            <tr *ngFor="let i of userlow">
                <td>{{i.name}}</td>
                <td>{{i.email}}</td>
                <!-- <td>
                    <img class="rounded" [src]="i.image" alt="">
                </td> -->
            </tr>
        </table>
    </div>
</div>